* {
    padding: 0;
    margin: 0;
}

header {
    height: 80vh;
    background-image: linear-gradient(rgba(0, 0, 0, .603), rgba(0, 0, 0, .849)), url(../assets/headerbg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}